<!-- HTML code with Bootstrap classes for styling -->
<h1 class="text-center mb-4">Hi, <%= @current_user.first_name %>!</h1>

<div class="lead text-center mb-5">
  Welcome to <span class="fw-semibold rounded text-primary">Let's Eat-up</span>, the #1 platform for travelers and gourmands to easily meet up to eat or try out restaurants together.
</div>

<div class="text-justify mb-4">
  Whether you just want some dining company or you want to be able to order a little more off the menu, <span class= "fw-semibold rounded text-primary">Let's Eat-up</span> takes out all the hassle of finding others to join in on your foodie adventures!
</div>
