<h1>Hi, <%= @current_user.first_name %>!</h1>

<div>Welcome to Let's Eat-up, the #1 platform for travelers and gourmands to easily meet up to eat or try out restaurants together.</div>
<div>Whether you just want some dining company or you want to be able to try a little more from the menu, Let's Eat-up takes out all the hassle of finding others to join in on your foodie adventures!</div>
